.checkout-inner {
  max-width: 700px;
  background-color: #fff;
  margin: 20px auto;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
}
.form-field {
  padding: 12px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.submition {
  text-align: right;
}
.form-input {
  outline: none;
  line-height: 1.5rem;
  padding: 4px 8px;
  color: #444;
}
.meal-order {
  width: 150px;
}
.form-field .error {
  font-style: italic;
  font-size: 10px;
  color: red;
}
.form-field .error::first-letter {
  text-transform: capitalize;
}
