:root {
  --primary-color: #7f2407;
  --secondary-color: #313131;
  --grow: #431502;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--secondary-color);
}
.wrapper {
  width: 100%;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  border: none;
  padding: 4px;
  cursor: pointer;
}
