.mini-cart {
  padding: 10px;
  background-color: var(--grow);
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}
.mini-cart span {
  padding: 4px 8px;
}
.mini-cart .amount {
  padding: 2px 4px;
  border-radius: 10px;
}
