.hero-image {
  height: 200px;
  background-size: cover;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 150px;
  position: relative;
}
.introduce {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.introduce p {
  margin: 10px 0;
  line-height: 1.5;
}
